{% extends 'store/base.html' %}

{% block content %}
<h1>Productos Disponibles</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Precio: $ {{ product.price }} CLP</p>
                <a href="{% url 'store:create_preference' product.id %}" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}